* {
    margin: 0;
  }
  
  html {
    font-size: 62%;
  }
  
  body {
    font-family: 'sofia', 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background: black;
  }
  
  .container {
    width: 30em;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
  
  }
  
  .heading {
    color: rgb(139, 135, 135);
    text-align: center;
    text-shadow: 2px 1px #848484;
    font-size: 40px;
    font-weight: 600;
  }
  
  .music-container {
    background-color: #fff;
    border-radius: 1em;
    padding: 1em 2em;
  }
  
  #cover-box {
    border-radius: 1rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    width: 100%;
  }
  
  #cover {
    border-radius: inherit;
    display: block;
    height: 100%;
    width: 100%;
  }
  
  #music-box {
    width: 100%;
  }
  
  #music-info {
    text-align: center;
  }
  
  #title {
    font-size: 2rem;
    font-weight: 600;
  }
  
  #artist {
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  #progress-container {
    height: 4px;
    margin: 15px 0 15px;
    cursor: pointer;
  }
  
  #progress {
    background-color: rgb(7, 6, 10);
    height: inherit;
    border-radius: inherit;
  }
  
  #timer-bar {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
  }
  
  #control-box {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  .button {
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    border-radius: 50px;
    color: #070606;
  }
  
  .play-pause-button {
    background-color: rgb(117, 106, 105);
    color: #fff;
    font-size: 40px;
    padding: 15px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  @media (hover: hover) {
    .button:hover {
      background-color: #d8d8d8;
      color: #545454;
    }
    .play-pause-button:hover {
      color: black;
      opacity: 0.75;
    }
  }
  